on boot
    #setprop service.camera.id 0
    #setprop service.camera.hw base
    #setprop service.camera.af 1
    #setprop service.camera.width_preview 0
    #setprop service.camera.height_preview 0
    #setprop service.camera.width_still 0
    #setprop service.camera.height_still 0
    #setprop service.camera.tuning 0
    #setprop persist.service.gps.support false
    

#for WiFi MFG(TestMode)
#service mfgloader /system/bin/mfgloader
#    disabled
#    oneshot

#service usbsetting /data/data/com.marvell.usbsetting/run.sh
#service usbsetting /system/bin/sh /system/usbsetting/launch
#    console
#    oneshot

#service filemonitor /system/bin/FileMonitorService
#	user system
#	group system

# start memsicd service



