/dev/snd/* 0660 media audio
/dev/galcore 0666 system meida
# keep fb0 0664 for dump the framebuffer by some test case
/dev/graphics/fb0 0664 system graphics
/dev/video0 0660 media camera
/dev/radio0 0660 system system
/dev/bmm 0660 media media
/dev/uio0 0660 media media
/dev/mbtchar0 0660 system bluetooth
/dev/mmc328x 0660 root system
/dev/ecompass_ctrl 0660 root system
/dev/bma222 0660 root system
/dev/proximity 0660 root system
/dev/rfkill 0660 system wifi
#for power off alarm
/dev/alarm-poweroff 0444 system radio

