/dev/snd/*                0660 media  audio
/dev/galcore              0666 system media
/dev/graphics/fb0         0664 system graphics
/dev/pmem                 0771 system graphics
/dev/pmem_audio           0771 system audio
/dev/pmem_adsp*           0771 system audio
/dev/video0               0660 media  camera
/dev/radio0               0660 system system
/dev/bmm                  0660 media  media
/dev/uio0                 0660 media  media
/dev/mbtchar0             0660 system bluetooth
/dev/mmc328x              0660 root   system
/dev/ecompass_ctrl        0660 root   system
/dev/bma222               0660 root   system
/dev/proximity            0660 root   system
/dev/rfkill               0660 system wifi
/dev/alarm-poweroff       0444 system radio
/dev/pxa_sim              0771 root   system
/dev/pm860x_hsdetect      0771 root   system
/dev/rtcmon /dev/rtc*     0771 root   system
/dev/freezer_device       0771 root   system
/dev/dvfm                 0771 root   system
/dev/bml2                 0771 root   system
/dev/bml24                0771 root   system
/dev/ramfile              0771 root   system
/dev/mipsram              0771 root   system
/dev/osadrv               0771 root   system
/dev/seh                  0771 root   system
/dev/acipc                0771 root   system
/dev/acipcddrv            0771 root   system
/dev/ccidatastub          0771 root   system
/dev/citty*               0771 root   system
/dev/cctdev*              0771 root   system
/dev/ccichar              0771 root   system
/dev/cidatatty*           0771 root   system
/dev/cctdatadev*          0771 root   system
/dev/ttyDIAG*             0771 root   system
/dev/ttyGS                0771 root   system
