on early-init
    start ueventd

on init
    export PATH /sbin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /tmp
    mkdir /boot
    mkdir /recovery
    mkdir /sdcard
    mkdir /sd-ext
    mkdir /datadata
    mkdir /emmc
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /efs
    #mkdir /mnt/nvm
    #mkdir /mnt/.lfs
    #mkdir /marvell
 
on fs
    mount tmpfs tmpfs /tmp

    exec /sbin/dd if=/dev/block/bml12 of=/tmp/ext4_modules.cpio.gz bs=4096k count=1
    exec /sbin/gzip -d /tmp/ext4_modules.cpio.gz
    exec /sbin/cpio -iF /tmp/ext4_modules.cpio
    rm /tmp/ext4_modules.cpio

    insmod /tmp/jbd2.ko
    insmod /tmp/ext4.ko
    mount ext4 /dev/stl16 /data
    mount ext4 /dev/stl17 /system
    #mount rfs /dev/stl18 /marvell
    #mount rfs /dev/stl19 /mnt/nvm
    mount ext4 /dev/stl20 /cache
    #mount j4fs /dev/stl21 /mnt/.lfs
    #mount rfs /dev/stl22 /efs
    mount vfat /dev/block/mmcblk0p1 /sdcard
    mount ext4 /dev/block/mmcblk0p2 /sd-ext

on post-fs
    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0

on boot
    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
